<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
            {% for state in states.items()|sort(attribute='1.name') %}
                <LI> {{ state[1].id }}: <B> {{ state[1].name }} </B>
                    <UL>
                        {% for cities in state[1].cities|sort(attribute='name') %}
                            <LI> {{ cities.id }}: <B> {{ cities.name }} </B></LI>
                        {% endfor %}
                    </UL>
                </LI>
            {% endfor %}
        </UL>
    </BODY>
</HTML>
